@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply pt-7;
    @apply h-screen;
    @apply w-screen;
    @apply scroll-smooth;
    @apply text-lg;
    @apply tracking-wider;
    @apply bg-slate-50;
    @apply font-body;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  b {
    @apply font-bold;
  }

  a {
    @apply underline;
  }

  a:hover {
    color: #6b7280;
  }
}
